
dataset data/sample-infimnist.libsvm
numFeatures 794

fcsActive false

numTrees 100
maxDepth 5
numClasses 10
binNumber 32
strategyFeature sqrt
strategySplit distribution
poissonMean 1.0
permitSparseWorkingData false
maxNodesConcurrent -1

jarPath /target/randomForest-1.0-SNAPSHOT.jar
sparkMaster local[4]
sparkPartition 256
sparkExecutorInstances 1
sparkExecutorMemory 512m
sparkCoresMax 4
